page-nuevopedido {

        .totales{
            text-align: right ;
        }

        .subtotales{
            margin-bottom: 0px !important;
            margin-top: 0px !important;
        }

        .listatotales{
            margin: 0px !important;
            bottom: 0px;
            width: 100%;
        }



         .derecha{
        float: right;
    }

    .izquierda{
        float: left;
    }

}
