page-home {


 h2 { color: rgb(253, 253, 253); }
    .center{
        text-align: center;
    }

    .dia{
        color: rgb(33, 169, 233);
        font-size: 150%;
        margin-bottom: 0px !important;
    }

    .clientes{
        color: rgb(252, 252, 252);
        font-size: 200%;
        margin-bottom: 0px !important; 
        margin-top: 2px !important; 
    }
    .complemento{
        color: rgb(252, 252, 252);
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .unrenglon{
        display: inline;
    }

    .sinmargen{
        margin:0px;
    }

}
